body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background-color: #B9CBDA;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 28px;
	margin-top: 30px;
	margin-bottom: 20px;
	color: #EEE;
	font-weight: bold;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	color: #EEE;
}

strong {
	color: #556B7D;
	font-size: 20px;
}

.navbar {
	border: 0;
}

.navbar-inverse {
	background-image: linear-gradient(to bottom, #556B7D 0%, #556B7D 100%);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
	background-image: linear-gradient(to bottom, #222 0, #222 100%);
}

.navbar-inverse .navbar-brand {
	background-image: url(../images/logo_test.png);
	background-repeat: no-repeat;
	width: 168px;
	background-position-y: 6px;
	opacity: 0.8;
	transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
}

.navbar-inverse .navbar-brand:hover {
	opacity: 1;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	color: #EEE;
}

section {
	color: #DDD;
	width: 61%;
	padding: 40px;
	margin: 0 auto;
	background-color: #88A2B9;
	min-height: 400px;
	min-width: 200px;
}

@media screen and (max-width: 400px) {
	section {
		width: 100%;
	}
}

#home {
	min-height: 500px;
}

#bigLogo {
	margin: auto;
	width: 80%;
	display: block;
	padding-top: 100px;
}

#subLogo {
	font-family: 'Roboto Slab', serif;
	color: #333;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}

section:nth-child(even) {
	background-color: #728BA1;
}

section:last-of-type {
	background-color: #CCC;
	min-height: 100px;
}

.droughtStats {
	list-style-image: url('../images/droplet_icon.png');
}

.foodEntryContainer {
	padding: 30px;
}

#inputFormGroup {
	width: 100%;
	display: block;
}

#inputRecipe {
	width: 100%;
	display: block;
	resize: vertical;
	margin-bottom: 5px;
}

#foodEntry, #recipeEntry {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.form-control {
	height: 40px;
	font-size: 18px;
}

#ajaxSpinner {
	display: none;
	margin: 0 auto;
}

#foodWaterDataTable {
	background-color: #88A2B9;
	width: 100%;
}

#foodWaterDataTable th {
	background-color: #B9CBDA;
	color: #444;
	padding: 5px;
}

#foodWaterDataTable td {
	padding: 5px;
}

#foodWaterDataTable th.input {
	width: 85%;
}

#foodWaterDataTable th.gallons {
	width: 15%;
	overflow-x: hidden;
}

#foodWaterDataTable .error td {
	background-color: rgb(241, 141, 141);
}

.totalCell {
	font-weight: bold;
	color: #333;
	font-size: 20px;
	text-align: center;
}

.gallonCell {
	text-align: center;
}

.transparentCell {
	text-align: right;
	color: #333;
	font-size: 20px;
	font-weight: bold;
}

.btn {
	font-size: 18px;
}

.graphsContainer {
	padding: 5px;
}

.graphsContainer div {
	float: left;
	padding-left: 20px;
	width: 48%;
}

.graphsContainer div:nth-child(even) {
	float: right;
	padding-right: 20px;
}

canvas {
	width: 100% !important;
	max-width: 800px;
	height: auto !important;
}

@media screen and (max-width: 400px) {
	.graphsContainer div {
		width: 95%;
	}
}

.copyright {
	color: #555;
	font-size: 12px;
	text-align: center;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}